road-size-container{
    padding: 0%;
    margin: 0%;
    overflow: hidden;
}
.road-image{
    width: 100%;
    position: absolute;
    padding-top: 170px;
    overflow: hidden;
}
.bike-section{
    position: absolute;
    transform: translateX(-30%);

    z-index: 1;
    overflow: hidden;
  
}
.bike-image{
 
position: relative;
    animation: bike 10s infinite;
    
z-index: 2;
margin: 15px;
overflow-x: hidden;
 
}
@keyframes bike{
from{
    left: 0px;
}
to{
   left: 85%;
}
}

body::-webkit-scrollbar{
    display: none;
}


.bike-animation-main{
    overflow: hidden;
}