@font-face {
    font-family:Roboto ;
    src: url(../../public/Robotofonts/Roboto-Regular.ttf);
  }


.featured{
    position: absolute;
    top: 75px;
    left: 20px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 60px;
}
.feature-image{
    max-width: fit-content;
}
.featured-main{
    position: relative;
}

.btn-custom{
    margin-right: 10px;
    background-image: linear-gradient(90deg,#8b0100,#fb0605 70%);
    --bs-btn-hover-bg: #0b5ed7 !important;
    font-size: 12px !important;
  border-radius: 0px !important;
color: #fff !important;


border: none;
margin-top: 15px;
}
.bottom-card{
    text-decoration: none;
}
.card-sections{
    display: flex;
    gap: 20px;
}
.d-flex{
    gap: 20px;
}