@font-face {
    font-family:Roboto ;
    src: url(../../public/Robotofonts/Roboto-Regular.ttf);
  }


.featured{
    position: absolute;
    top: 75px;
    left: 20px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 60px;
}
.feature-image{
    max-width: fit-content;
  
}
.featured-main{
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
}

.btn-discover{
    margin-right: 10px;
    background-image: linear-gradient(90deg,#8b0100,#fb0605 70%);
    --bs-btn-hover-bg: #0b5ed7 !important;
    font-size: 14px !important;
  border-radius: 0px !important;
color: #fff !important;
padding-top: 15px !important;

border: none;
margin-top: 15px !important;
height: 50px;
width: 120px;

white-space: nowrap;
text-align: center;
}
.bottom-card{
    text-decoration: none;
}
.card-sections{
    display: flex;
    gap: 20px;
}
.d-flex{
    gap: 20px;
}

.card{
    box-shadow: 4px 5px 15px #f04b4d26;
}