.footer-main {
  background: #fb0605;
  box-sizing: border-box;
}
.footer-main-logo {
  background-image: url("../images/footerbackground.png");
  background-size: contain;

  background-position: 100%;
  background-position-x: 100%;
  background-position-y: center;
  background-repeat: no-repeat;
}
.footerlogo {
}
.footer-parent {
  display: flex;
  justify-content: center;
}
.footer-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}
.address {
  background-size: 20px;
}

.footer-bottom-icon {
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
  padding-top: 2px;
}
.footer-bottom {
  background: #161616;
}

@media screen and (max-width: 991px) {
  .footer-item {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
