.touchus-main {
  box-sizing: border-box;
  padding-top: 40px;
  padding-bottom: 10px;
}
.contactus {
  background-image: url("../images/contactus.png");
  background-position: 50%;
  background-position-x: 50%;
  background-position-y: center;
  background-size: contain;
  padding: 0 20px;
  background-repeat: no-repeat;
}
.contact-heading {
  text-align: center;
  font-size: clamp(30px, 4vw, 60px) !important;
}
.contact-button {
  border: 0px !important;
  border-radius: 0px !important;
  background-image: linear-gradient(90deg, rgb(251, 6, 5), rgb(139, 1, 0) 70%);
  padding: 10px 18.5px;
}
.contact-side-image {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .contactus {
    background-image: none;
  }
}

@media screen and (max-width: 767px) {
  .contact-button {
    width: 100%;
  }
}
