@font-face {
    font-family:Roboto ;
    src: url(../Robotofonts/Roboto-Regular.ttf);
  }


.upperbanner-dropdown{
    background: #fff !important;
  color: black;
    background-color: #fff;
    border-color: black;
    border-radius: 0px;

 
}

.dropdown-toggle{
    background: #fff;
    color: black;
    border-color: black;
    border-radius: 0px;
}

.upperbanner-container{
    /* margin: 25px;
     */
    display: flex;

    box-sizing: border-box;
    padding-top: 60px;
    padding-bottom: 30px;
    margin-top: 40px;

    
}
.dropdown-container{
    display:flex;
    flex-direction: row;
    gap:10px
}

.btn-discover{
    margin-right: 10px;
    background-image: linear-gradient(90deg,#8b0100,#fb0605 70%);
    --bs-btn-hover-bg: #0b5ed7 !important;
    font-size: 12px !important;
  border-radius: 0px !important;
color: #fff !important;
padding-bottom: 12px;
margin-top: 0px !important;

border: none;
}

.local-restaurants{
    color:#fb0605 ;
    font-family: 'Roboto';
    font-size: clamp(30px,6vw,70px) !important;
    text-transform: uppercase;
    font-weight: 700;

}
.hungry{
    color: black;
    font-weight: 700;
    text-transform: uppercase;
    font-size: clamp(40px,8.8vw,80px) !important;
    font-family: 'Roboto';
}

.favurite{

     font-family: 'Roboto';
     font-weight: 400;
     

}

.form-select{
  
    border-radius: 0px !important;
    border: 1px solid gray !important;
    height: 50px !important;
}

.upper-banner-image{
   height: 451px;
}

.btn-banner.btn{
    border: 1px solid gray;
    white-space: nowrap;
    border-radius: 0px;
    background-image: linear-gradient(90deg,#8b0100,#fb0605 70%);
    color: #fff;
    width: 100%;
    height: 50px;
}
.upper-banner-heading{
    padding-bottom: 20px;
}



@media only screen and (max-width: 991px) {
   .upperbanner-container  {
    display: flex;
    flex-direction: column;

    }
  }
  @media only screen and (max-width: 699px) {
    .upper-banner-heading  {
   text-align: center;
 
     }
   }
   @media only screen and (max-width: 991px) {
    .dropdown-container {
  
        display: flex;
        flex-direction: column;
 
     }
   }
   @media only screen and (max-width: 699px) {
    .banner-des {
  
     text-align: center;
 
     }
   }
   @media only screen and (max-width: 699px) {
    .upper-banner-image {
  
     height: 183px;
 
     }
   }
   